:root {
  --purple: #3f3a60;
  --orange: #ff5100;
  --orange-dark: #d34604;
  --fontsize: x-large;
  --bs-gray-200: #ecedee;
}

.newline-preserve {
  white-space: pre-wrap;
}

html {
  background-color: var(--bs-gray-200);
}

.App {
  text-align: center;
  background-color: var(--bs-gray-200);
}

.game-card {
  align-items: center;
}

.nav-bar {
  background-color: var(--purple);
  align-items: center;
}

.nav-brand {
  font-weight: bolder;
  font-variant: small-caps;
  margin-left: 1rem;
}

.nav-player-count {
  font-size: large;
  margin-right: 1rem;
}

.nav-reload-button {
  margin-right: 1rem;
}

.bgg {
  color: var(--orange);
}
